@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

:root {
    --cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: var(--cream);
}
.card {
    --border-radius: 10px;

    display: flex;
    flex-direction: column;
    grid-template-rows: auto auto;
    max-width: 375px;
    width: 90%;
    margin: auto;
}
.card-image-mobile {
    max-width: 400px;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    width: 100%;
}
.card-image-desktop {
    display: none;
}
.card-body {
    background-color: var(--white);
    padding: 1.3rem 1.3rem;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.product-type {
    color: var(--dark-grayish-blue);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}
.product-name {
    font-family: "Fraunces", sans-serif;
    font-size: clamp(1.5rem, 8vw, 2rem);
    padding: 0.375em 0px;
    max-width: 245px;
    line-height: 1;
    /* width: 90%; */
}
.product-description {
    font-size: 0.875rem;
    color: var(--dark-grayish-blue);
    font-family: "Montserrat", sans-serif;
    line-height: 1.55;
    max-width: 265px;
}
.product-price {
    font-size: 2rem;
    color: var(--cyan);
    font-family: "Fraunces", sans-serif;
    display: flex;
    align-items: center;
    gap: 1.25rem;
    padding: 0.53em 0;
}
.old-price {
    font-size: 0.875rem;
    color: var(--dark-grayish-blue);
    text-decoration: line-through;
    font-family: "Montserrat", sans-serif;
}
.add-to-cart {
    background-color: var(--cyan);
    padding: 1.15rem 0;
    border: none;
    border-radius: 12px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    transition-property: background-color, scale;
    transition-duration: 200ms;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.add-to-cart:active {
    scale: 0.97;
}
.add-to-cart:hover {
    background-color: hsl(158, 36%, 28%);
}

@media (min-width: 700px) {
    .card {
        flex-direction: row;
        max-width: 800px;
    }
    .card-image-mobile {
        display: none;
    }
    .card-image-desktop {
        display: unset;
        max-width: 348px;
        border-radius: 10px 0 0 10px;
        width: 56%;
    }
    .card-body {
        border-radius: 0 10px 10px 0;
        gap: 0.875rem;
        padding: 1.75rem 1.75rem;
    }
}
